.digiA {
  padding: 2em;
}
img {
  border-radius: 2em;
}
.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 1em;
}
.flex-horizontal .img1 {
  width: 55vw;
}
.flex-horizontal .img2 {
  width: 20vw;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.img3 {
  width: 30vw;
}
.project-ideas {
  font-size: 1.3em;
  font-family: "Kurb", serif;
}
.project-ideas span {
  text-shadow: 0 0 4px white;
  font-size: 1.4em;
}
.projectName {
  text-align: center;
  font-family: "Kaisei Tokumin";
  margin-bottom: 0.5em;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.skills p {
  background: #00b068;
  padding: 0.3em 1em;
  color: white;
  font-size: 1.2em;
  border-radius: 3em;
  box-shadow: 5px 6px 17px black;
}
@media (max-width: 500px) {
  .flex-horizontal {
    flex-direction: column;
  }
  .flex-horizontal .img1 {
    width: 80vw;
  }
  .flex-horizontal .img2 {
    width: 80vw;
  }
  .flex-horizontal .img2 {
    width: 80vw;
  }
  .img3 {
    width: 80vw !important;
  }
  .project-ideas p {
    font-size: 0.8em;
  }
  .skills p {
    margin: 2px;
    font-size: 1em;
  }
  .skills {
    gap: 0em;
    margin-bottom: 0.5em;
  }
}
