.footer .logo {
  font-family: "Kaisei Tokumin", serif;
  font-size: 3em;
}
.footer {
  padding: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.592);
}
.flex-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.footer a {
  text-decoration: none;
  font-family: "Kurb";

  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2em;
}
.socialMedia {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.contact {
  display: flex;
  gap: 1em;
}
@media (max-width: 500px) {
  .flex-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .socialMedia {
    margin-bottom: 1em;
  }
  .footer .logo {
    font-size: 2em;
  }
}
