@media (max-width: 900px) {
  .title {
    font-size: 1em;
    margin-top: 8em;
  }
}
@media (max-width: 750px) {
  .title {
    font-size: 1em;
    margin-top: 21em;
  }
}
@media (max-width: 500px) {
  .title h1 {
    font-size: 2em !important;
  }
  .home {
    width: fit-content;
    height: fit-content;
  }
   .mainBlob {
    width: 2ovw;
  }
  .title {
    margin-top: 13em;
    }
  title p {
    font-size: 1em;
}
}
